body {
  font-family: 'Nunito';
  width: 100%;
  margin: 0px;
}

a{
  text-decoration: none;
}

.carousel-item::before {
  content: "";
  background-color: rgba(43, 68, 102, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.carousel-item img {
  height: 825px;
  object-fit: cover;
}

.hero-info {
  height: 490px;
}

.hero-info img {
  width: 200px;
}

.hero-info h1,
h6 {
  color: white;
}

.hero-info h1 {
  font-size: 36px;
}

.hero-info h6 {
  font-size: 20px;
}

.about-me {
  top: -130px;
}

.about-me .left h6 {
  font-size: 18px;
}

.about-me .left p {
  font-size: 16px;
}

/* Skills */
.skills {
  background-color: #F8F9FA;
}

/* Cards */

.card {
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
}

.front {
  position: relative;
  top: 50px;
}

.back {
  position: relative;
    top: -60px;
  transform: rotateY(180deg);
}

/* Experiencia */

.experience .container-experience .container-card .card {
  border-style: dashed;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 0px 0px 50px 0px;
}

.card-top {
  position: absolute;
  top: -40px;
  right: 40px;
}

.card-top .card-ico {
  background: #f0f0fe;
  line-height: 100px;
  text-align: center;
  height: 80px;
  width: 80px;
  line-height: 64px;
  border: 7px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 1px #f0f0fe;
  box-shadow: 0px 0px 0px 1px #f0f0fe;
}

.card-top p {
  width: 100px;
  height: 25px;
  position: absolute;
  top: 60px;
  right: 60px;
  line-height: 1;
  white-space: nowrap;
  padding: .36em .65em;
  font-size: 13px;
  font-weight: 700;
}

.card-body p {
  color: #8492a6;
  letter-spacing: 1px;
}

footer{
  height: 50px;
}