body{
  font-family: 'Nunito';
  width: 100%;
  margin: 0px;
}

.hero{
  
}
.carousel-item::before {
  content: "";
  background-color: rgba(43, 68, 102, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.carousel-item img{
  height: 825px; 
  object-fit: cover;
}

.hero-info {
  height: 490px;
}

.hero-info img {
  width: 200px;
}

.hero-info h1,
h6 {
  color: white;
}

.hero-info h1 {
  font-size: 36px;
}

.hero-info h6 {
  font-size: 16px;
}
.about-me{
  top: -130px;
}
.about-me .left h6{
  font-size: 18px;
}
.about-me .left p{
  font-size: 16px;
}
/* .about-me .left p span{
  
} */

.skills{
  background-color: #F8F9FA;
}
